Repository emuflight/EmuFlight, pull requests merged in 2022-08, with the labels that each got.

#839 TARGET GEPRCF722BT
  src/main/target/GEPRCF722BT/config.c
  src/main/target/GEPRCF722BT/target.c
  src/main/target/GEPRCF722BT/target.h
  src/main/target/GEPRCF722BT/target.mk
Labels: merge-able if approved, 0.4.1

#855 multiple targets fix USE_LED_STRIP
  src/main/target/AIRBOTF7HDV/target.h
  src/main/target/CLRACINGF7/target.h
  src/main/target/MATEKF722HD/target.h
  src/main/target/MATEKF722PX/target.h
  src/main/target/RUSH_BLADE_F7_HD/target.h
Labels: target/bugfix

#859 Target Updates - MATEKF722PX - Fixed Black Box
  src/main/target/MATEKF722PX/target.c
  src/main/target/MATEKF722PX/target.h
  src/main/target/MATEKF722PX/target.mk
Labels: merge-able if approved, target/bugfix

#860 Target Update - MATEKF722HD - Added Flash_W25M
  src/main/target/MATEKF722HD/target.c
  src/main/target/MATEKF722HD/target.h
Labels: merge-able if approved
