Repository emuflight/EmuFlight, pull requests merged in 2022-04, with the labels that each got.

#768 Target TMOTORF7V2
  src/main/target/TMOTORF7V2/config.c
  src/main/target/TMOTORF7V2/target.c
  src/main/target/TMOTORF7V2/target.h
  src/main/target/TMOTORF7V2/target.mk
Labels: help wanted, target/new, in-testing

#791 Fix UART duplication/count on MATEKF722HD
  src/main/target/MATEKF722HD/target.h
Labels: merge-able if approved, target/bugfix

#790 Target AXISFLYINGF7
  src/main/target/AXISFLYINGF7/target.c
  src/main/target/AXISFLYINGF7/target.h
  src/main/target/AXISFLYINGF7/target.mk
Labels: target/new, merge-able if approved

#792 Target - TMVELOX
  src/main/target/TMTR_TMVELOX/config.c
  src/main/target/TMTR_TMVELOX/target.c
  src/main/target/TMTR_TMVELOX/target.h
  src/main/target/TMTR_TMVELOX/target.mk
Labels: target/new, merge-able if approved

#711 IFRC_IFLIGHT_F745_AIO Voltage/Amp Fix
  src/main/target/IFRC_IFLIGHT_F745_AIO/target.c
  src/main/target/IFRC_IFLIGHT_F745_AIO/target.h
Labels: in-testing, target/bugfix
