Repository emuflight/EmuFlight, pull requests merged in 2022-03, with the labels that each got.

#747 Nbdbbblv3
  src/main/target/NBDBBBLV3/BEEBRAIN_BL_V3_WHOOP_INTL.mk
  src/main/target/NBDBBBLV3/BEEBRAIN_BL_V3_WHOOP_US.mk
  src/main/target/NBDBBBLV3/config.c
  src/main/target/NBDBBBLV3/target.c
  src/main/target/NBDBBBLV3/target.h
  src/main/target/NBDBBBLV3/target.mk
Labels: target/new

#769 TARGET BETAFPVF411RX
  src/main/target/BETAFPVF411RX/target.c
  src/main/target/BETAFPVF411RX/target.h
  src/main/target/BETAFPVF411RX/target.mk
Labels: merge-able if approved, target/request

#770 Target skystarsf7 hd
  src/main/target/SKYSTARSF7HD/config.c
  src/main/target/SKYSTARSF7HD/target.c
  src/main/target/SKYSTARSF7HD/target.h
  src/main/target/SKYSTARSF7HD/target.mk
Labels: merge-able if approved, target/request

#771 Target EMAXF411
  src/main/target/EMAXF411/config.c
  src/main/target/EMAXF411/target.c
  src/main/target/EMAXF411/target.h
  src/main/target/EMAXF411/target.mk
Labels: merge-able if approved, target/request

#774 Target: AIRB_AIRBOTF7HDV
  src/main/target/AIRBOTF7HDV/config.c
  src/main/target/AIRBOTF7HDV/target.c
  src/main/target/AIRBOTF7HDV/target.h
  src/main/target/AIRBOTF7HDV/target.mk
Labels: target/new, merge-able if approved

#779 1.0.0 GitHub actions workflow
  .github/workflows/build.yml
  Makefile
Labels: 1.0.0
