Repository emuflight/EmuFlight, pull requests merged in 2023-11, with the labels that each got.

#916 [Target] CRAZYBEEF4FR add BMI270 ICM42688P
  src/main/target/MATEKF411RX/target.h
  src/main/target/MATEKF411RX/target.mk
Labels: target/update

#938 [target] FLYWOOF411_5IN1_AIO - add BMI270
  src/main/target/FLYWOOF411_5IN1_AIO/target.h
  src/main/target/FLYWOOF411_5IN1_AIO/target.mk
Labels: target/update

#941 [target] NBD_INFINITYAIOV2PRO (BMI270)
  src/main/target/NBD_INFINITYAIOV2PRO/target.c
  src/main/target/NBD_INFINITYAIOV2PRO/target.h
  src/main/target/NBD_INFINITYAIOV2PRO/target.mk
Labels: target/new

#942 [target] SKYSTARSF7HD add BMI270
  src/main/target/SKYSTARSF7HD/target.h
  src/main/target/SKYSTARSF7HD/target.mk
Labels: target/update

#943 [target] SKYSTARSF7HDPRO
  src/main/target/SKYSTARSF7HDPRO/config.c
  src/main/target/SKYSTARSF7HDPRO/target.c
  src/main/target/SKYSTARSF7HDPRO/target.h
  src/main/target/SKYSTARSF7HDPRO/target.mk
Labels: target/new

#944 [target] TMOTORF7 update; add ICM42688P and BMI270
  src/main/target/TMTR_TMOTORF7/target.c
  src/main/target/TMTR_TMOTORF7/target.h
  src/main/target/TMTR_TMOTORF7/target.mk
Labels: in-testing-needs-testing, target/update

#922 [Target] FOXEERF722V4 ICM42668P MPU6000
  src/main/target/FOXEERF722V4/target.c
  src/main/target/FOXEERF722V4/target.h
  src/main/target/FOXEERF722V4/target.mk
Labels: target/new, in-testing-needs-testing, target/request
